/* Write your CSS here */
.item {
  width: 90%;
  height: 100%;
}
.popupvideocontainer {
  background-color: white;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
}

.crossmark {
  align-self: flex-end;
  margin-right: 13px;
  margin-top: 15px;
  margin-bottom: 10px;
}

.videocontainer {
  margin: 30px;
  margin-top: 0px;
}
